@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-font: "Inter", sans-serif;
    --primary-color: #0A3871;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    height: 100vh;
    padding: 0 5vh;
}

section {
    padding: 2rem 2rem 0 4rem;
    height: 83%;
    display: flex;
    gap: 2rem;
}

.encrypter_image {
    width: 4rem;
}

.entry_text {
    display: flex;
    flex-direction: column; 
    width: 75%;
    padding: 6rem 0 0 0;
}

.encrypter_text {
    width: 35%;
}

.box_text {
    border: 0;
    height: 100%;
    resize: none;
    background-color: #F3F5FC;
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    outline: 0;
    box-sizing: border-box;
}

.box_text::placeholder {
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: 1.5rem; 
    opacity: 100%;
}

#box_encrypter_before {
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 18px;
    box-shadow: #00000014 0 24px 32px -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.image_encryptor {
    width: 14rem;
    margin-top: 30%;
}

.none_message {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343A40;
}

.instruction {
    font-size: 1rem;
    line-height: 150%;
    color: #495057;
}

.caution {
    display: flex;
    align-items: center;
    padding: .3rem 0 0 0;
    gap: .5rem;
}

.icon_caution {
    width: 1rem;
}

small{
    font-family: var(--main-font);
    font-size: .75rem;
    color: #495057;
}

.buttons_action {
    padding: 1rem 0 0 0;
    display: flex;
    gap: 1.5rem;
}

.buttons_action_encrypter {
    font-family: var(--main-font);
    background-color: var(--primary-color);
    color: white;
    width: 50%;
    max-width: 296px;
    padding: 1rem;
    border-radius: 18px;
    border: none;
    font-size: 1rem;
}

.buttons_action_encrypter:hover {
    background-color: #072f5f;
}

.buttons_action_encrypter:active {
    transform: scale(.95);
}

.buttons_action_desencrypter {
    font-family: var(--main-font);
    background-color: #D8DFE8;
    color: var(--primary-color);
    width: 50%;
    max-width: 296px;
    padding: 1rem;
    border-radius: 18px;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
}

.buttons_action_desencrypter:hover {
    background-color: #c9ced4;
}

.buttons_action_desencrypter:active {
    transform: scale(.95);
}

#box_encrypter {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 18px;
    padding: 1rem;
    box-shadow: #00000014 0 24px 32px -8px;
    height: 97%;
}

#box_text_encrypter{
    background-color: white;
    width: 100%;
    margin-bottom: 1.5rem;
    scrollbar-width: thin;
}

.buttons_action_copy{
    font-family: var(--main-font);
    background-color: white;
    color: var(--primary-color);
    width: 100%;
    max-width: 296px;
    padding: 1rem;
    border-radius: 18px;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
}

.buttons_action_copy:hover {
    background-color: #D8DFE8;
}

.buttons_action_copy:active {
    transform: scale(.95);
}

footer {
    padding: 2rem 0 0 0;
}

.publicity {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}

.logo_image{
    width: 2.2rem;
    margin: 0 .3rem 0 0
}

.jons{
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    color: #6FD72B;
}

.dev{
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #00B3FF;
}

.signed {
    font-family: "Urbanist", sans-serif;
    color: #00B3FF;   
}

.developer {
    font-family: var(--main-font);
    font-size: .85rem;
    color: var(--primary-color);
    text-align: center;
}

@media (max-width: 900px) {
    
    body {
        padding: 0;  
    }

    section {
        padding: 2rem 2rem 0 2rem;
        
        flex-direction: column;
        gap: 3rem;
    }

    .entry_text {
        height: 55%;
        width: 100%;
        padding: 0;
    }

    .encrypter_text {
        width: 100%;
        height: 15%;
    }

    .image_encryptor {
        display: none;
    }

    .none_message {
        font-size: 1.2rem;
        padding: .8rem 0 0 0;
    }
    
    .instruction {
        font-size: .9rem;
        margin: -1.3rem 0 0 0;
    }

    .buttons_action {
        padding: 1rem 0 0 0;
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }
    
    .buttons_action_encrypter {
        max-width: none;
    }
    
    .buttons_action_desencrypter {
        max-width: none;
    }

    #box_encrypter{
        height: 8rem;
    }
}